body {
    background-color: #A9E6E1 !important;
    margin: 0;
    font-size: 20px;
}

.full-page-center {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.error-text {
    font-size: 1rem;
    color: red;
    margin-top: 0;
}