<div class="full-page-center">
    <div class="identity">
        <div class="identity-logo"></div>
        <div class="identity-body">
            <div class="text-center">Nie pamiętasz hasła</div>
            <form class="identity-form" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                <app-input label="email" formInputName="email" [parentGroup]="forgotForm"></app-input>
                <p class="success-text" *ngIf="message">{{message}}</p>
                <app-button text="Zresetuj hasło" width="200px" padding="0.8rem" bgColor="transparent" [submit]=true></app-button>
            </form>
        </div>
    </div>
</div>