<div class="privacy full-page-center">
    <div class="privacy-title">Polityka prywatności</div>
    <div class="privacy-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec arcu eu ex lacinia lobortis quis sed metus. Maecenas enim tellus, eleifend sed lorem non, vehicula volutpat felis. Vestibulum elementum rhoncus leo, quis tristique eros venenatis a.</p>
        <p>Duis ex nisl, sollicitudin eget pretium quis, finibus id urna. Curabitur pellentesque mollis odio, tempor vulputate nisi pretium vel.</p>
        <p>Duis viverra, nisi id pretium scelerisque, diam lorem porttitor justo, sit amet venenatis erat mi eget dolor. Donec ultrices risus vitae malesuada dapibus. Mauris euismod enim efficitur risus volutpat commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <app-button class="btn" text="Powrót" width="200px" routerLink="/"></app-button>
</div>
