.privacy {
    margin-left: 10%;
    margin-right: 10%;
}

.privacy-title {
    align-self: flex-start;
    font-size: 3rem;
}

.privacy-description {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

app-button {
    align-self: flex-end;
}