<div class="full-page-center">
    <div class="identity">
        <div class="identity-logo"></div>
        <div class="identity-body">
            <div class="text-center">Ustaw nowe hasło</div>
            <form class="identity-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <app-input label="email" formInputName="email" [parentGroup]="resetForm"></app-input>
                <app-input label="password" formInputName="newPassword" [parentGroup]="resetForm" type="password"></app-input>
                <app-input label="password confirmation" formInputName="confirmPassword" [parentGroup]="resetForm" type="password"></app-input>
                <p class="error-text" *ngIf="formErrorMessage">{{formErrorMessage}}</p>
                <app-button text="Ustaw hasło" width="200px" padding="0.8rem" bgColor="transparent" [submit]=true></app-button>
            </form>
        </div>
    </div>
</div>